<link rel="stylesheet" href="../style/category.css">
<div class="com-bar">
	<a href="" class="com-btn">添加分组</a>
</div>
<ul class="category-box">
	<li>
		<img src="../image/category.png" width="80" class="cate-pic" alt="">
		<div class="category">
			<a href="#!/word_detail"><h4>单词分组一</h4></a>
			<p>创建时间：<span>2016年6月17日</span></p>
			<p>内容简介：<span>沙发上大的风</span></p>
			<p class="operation">
				<a href="" class="iconfont" id="cate_add" title="添加">&#xe602;</a>
				<a href="" class="iconfont" id="cate_edit" title="编辑分组">&#xe600;</a>
				<a href="" class="iconfont" id="cate_delete" title="删除分组">&#xe601;</a>
			</p>
		</div>
		<a href="" class="test com-btn">开始测试</a>
	</li>
	<li>
		<img src="../image/category.png" width="80" class="cate-pic" alt="">
		<div class="category">
			<a href="#!/word_detail"><h4>单词分组一</h4></a>
			<p>创建时间：<span>2016年6月17日</span></p>
			<p>内容简介：<span>沙发上大的风</span></p>
			<p class="operation">
				<a href="" class="iconfont" id="cate_add" title="添加">&#xe602;</a>
				<a href="" class="iconfont" id="cate_edit" title="编辑分组">&#xe600;</a>
				<a href="" class="iconfont" id="cate_delete" title="删除分组">&#xe601;</a>
			</p>
		</div>
		<a href="" class="test com-btn">开始测试</a>
	</li>
	<li>
		<img src="../image/category.png" width="80" class="cate-pic" alt="">
		<div class="category">
			<a href="#!/word_detail"><h4>单词分组一</h4></a>
			<p>创建时间：<span>2016年6月17日</span></p>
			<p>内容简介：<span>沙发上大的风</span></p>
			<p class="operation">
				<a href="" class="iconfont" id="cate_add" title="添加">&#xe602;</a>
				<a href="" class="iconfont" id="cate_edit" title="编辑分组">&#xe600;</a>
				<a href="" class="iconfont" id="cate_delete" title="删除分组">&#xe601;</a>
			</p>
		</div>
		<a href="" class="test com-btn">开始测试</a>
	</li>
	<li>
		<img src="../image/category.png" width="80" class="cate-pic" alt="">
		<div class="category">
			<a href="#!/word_detail"><h4>单词分组一</h4></a>
			<p>创建时间：<span>2016年6月17日</span></p>
			<p>内容简介：<span>沙发上大的风</span></p>
			<p class="operation">
				<a href="" class="iconfont" id="cate_add" title="添加">&#xe602;</a>
				<a href="" class="iconfont" id="cate_edit" title="编辑分组">&#xe600;</a>
				<a href="" class="iconfont" id="cate_delete" title="删除分组">&#xe601;</a>
			</p>
		</div>
		<a href="" class="test com-btn">开始测试</a>
	</li>
</ul>
