<link rel="stylesheet" href="../style/home.css">
<ul class="pro-box">
	<li>
		<div class="pro">
			<a href=""><img src="../image/pro1.jpg" width="300" alt=""></a>
			<p>单词训练 Let’s go</p>
			<a class="pro-btn" href="">Action</a>
		</div>
	</li>
	<li>
		<div class="pro">
			<a href=""><img src="../image/pro2.jpg" width="300" alt=""></a>
			<p>句子训练 Come on</p>
			<a class="pro-btn" href="">Action</a>
		</div>
	</li>
	<li>
		<div class="pro">
			<a href=""><img src="../image/pro3.jpg" width="300" alt=""></a>
			<p>词组训练 Fighting</p>
			<a class="pro-btn" href="">Action</a>
		</div>
	</li>
	<li>
		<div class="pro">
			<a href=""><img src="../image/pro3.jpg" width="300" alt=""></a>
			<p>词组训练 Fighting</p>
			<a class="pro-btn" href="">Action</a>
		</div>
	</li>
</ul>
